*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn.btn-primary {
  padding: 10px 16px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  border: 0;
  background: #0065F2;
}

.first, .second, .third, .fourth, .fifth {
  padding-bottom: 20px;
}

.first .logo {
  padding-right: 65px;
}

.first .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first .menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first .menu__item {
  padding: 0 28px 0 10px;
}

.second .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second .menu__item {
  padding: 0 30px 0 0;
}

.second .logo {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.third .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.third .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third .menu__item {
  padding: 0 30px 0 0;
}

.third .menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.third .menu__wrapper-number {
  color: #0065F2;
  background-color: rgba(0, 101, 242, 0.12);
  padding: 3px 8px;
}

.fourth .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fourth .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fourth .menu__item {
  padding: 0 30px 0 0;
}

.fourth .menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn.btn-search {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.fifth .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fifth .menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fifth .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fifth .menu__item {
  padding: 0 30px 0 0;
}

.btn.btn-burger {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.footer__inner {
  display: -ms-grid;
  display: grid;
}
/*# sourceMappingURL=style.css.map */